<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hackathon.eatsmart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RestaurantMainActivity"
            android:label="@string/title_activity_restaurant_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomerMainActivity"
            android:label="@string/title_activity_customer_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditRestaurantActivity"
            android:label="@string/title_activity_edit_restaurant"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditMenuActivity"
            android:label="@string/title_activity_edit_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditDishActivity"
            android:label="@string/title_activity_edit_dish"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomerRestaurantChooserActivity"
            android:label="@string/title_activity_customer_restaurant_chooser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CustomerDishChooserActivity"
            android:label="@string/title_activity_customer_dish_chooser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".IngredientListActivity"></activity>
    </application>

</manifest>