<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.hackathon.eatsmart">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
        android:name=".MyApplication">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CustomerMainActivity"
            android:label="@string/title_activity_customer_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditRestaurantActivity"
            android:label="@string/title_activity_edit_restaurant"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditMenuActivity"
            android:label="@string/title_activity_edit_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditDishActivity"
            android:label="@string/title_activity_edit_dish"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAVV4tsOIo_EFPspHN5BC3XXvoh1CAf-nk"/>
        <activity
            android:name=".activity.CustomerRestaurantChooserActivity"
            android:label="@string/title_activity_customer_restaurant_chooser"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.CustomerDishChooserActivity"
            android:label="@string/title_activity_customer_dish_chooser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.IngredientListActivity"></activity>
        <activity android:name=".activity.FoodFilteringActivity"></activity>
    </application>
</manifest>